.form-center {
    margin: 100px 400px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('https://lms.ueh.edu.vn/theme/image.php/lambda/theme/1683867666/page_bg/squairy_light');
    background-size: auto;
    color: #555;
    text-shadow: none;
}

.signup__logo {
    margin: 50px 0 50px;
    border-radius: 10px;
    width: 150px;
    height: auto;
}

.UAJaRc{
    width: 35px;
    height: 35px;
}

.rpo4wf-J3yWx {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75rem;
    color: white;
    margin-left: 0.625rem;
}